
.row {
    background-color: #fff;
  }
  
  .row.out-of-stock {
    color: red;
  }
  
  /* SearchBar.css */
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  export  default ProductRow